@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Roboto-Regular.ttf');
}

* {
  box-sizing: border-box;
  font-family: Roboto;
}

p,
ul,
pre {
  margin: 0;
}

.body {
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  font-weight: 400;
}

#root {
  min-height: 100vh;
  background: linear-gradient(rgb(46, 148, 155), rgb(160, 65, 224));
}

.wrapper-text {
  display: flex;
  align-items: center;
  gap: 5px;
}
